#mg{
width:900px;
margin:0 auto;
margin top:30px;
font-family:"Verdana";
}

#con{
color:grey;
border-left: 1px solid #00ff00;
/*border-style:solid;
border-width:thin;
border-color:#ffffff;*/
width:74%;
height:auto;
min-height:550px;
margin-top:5px;
float:right;
}


#nav{
color:gray;
/*border-style:solid;
border-width:thin;
border-color:#ffffff;*/
width:25%;
min-height:550px;
height:auto;
margin-top:5px;
float:left;
}

#hed{
text-align:center;
font-family:"Arial";
font-size:10em;
font-style:bold;
/*border-style:solid;
border-width:medium;
border-color:#ffffff;*/
}




#navigacija {
      width: 100%;
      float: left;
	  padding:0;
      list-style: none;
      background-color: #000000;
      border-left: 1px solid #00ff00;
      border-right: 1px solid #00ff00;
      border-bottom: 1px solid #00ff00; 
      border-top: 1px solid #00ff00; }
   #navigacija li {
      float: left; }
   #navigacija li a {
      display: block;
      padding: 8px 15px;
      text-decoration: none;
      font-weight: bold;
      color: #00ff00;
      border-right: 1px solid #00ff00; }
   #navigacija li a:hover {
	  font-size:110%;
	  border-left: 110%;
      border-right: 110%;
	}


#login{
margin-left:5px;
width:auto;
height:auto;
font-size:0.75em;
}

#user{
background-color:gray;
font-family:verdana;
width:150px;
maxlength="20";
}

#pass{
background-color:gray;
font-family:verdana;
width:150px;
maxlength="100";
}

#ap{
float:right;
display: block;
      padding: 8px 15px;
      text-decoration: none;
      font-weight: bold;
      color: #ffffff;
}
#ap:hover{
color: #000000;
      background-color: #808080;
}

.button {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #000000), color-stop(1, #000000) );
	background:-moz-linear-gradient( center top, #000000 5%, #000000 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#000000');
	background-color:#000000;
	-webkit-border-top-left-radius:0px;
	-moz-border-radius-topleft:0px;
	border-top-left-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-radius-topright:0px;
	border-top-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-radius-bottomright:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
	text-indent:0;
	border:1px solid #00ff00;
	display:inline-block;
	color:#00ff00;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:25px;
	line-height:25px;
	width:80px;
	text-decoration:none;
	text-align:center;
}

.button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #000000), color-stop(1, #000000) );
	background:-moz-linear-gradient( center top, #000000 5%, #000000 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#000000');
	background-color:#000000;
}

.button:active {
	position:relative;
	top:1px
}

form {
background-color:black;
color:#00ff00;
}

