*{
padding:0px;
margin:0px;
}

html{
	background:url('bg.jpg') no-repeat fixed;
	min-height:100%;
	background-size:cover;
}

body{
	min-height:100%;
	font:14px/1.3 'Segoe UI',Arial, sans-serif;
}

#stranica{
margin:1% auto 0 auto;
width:1000px;
height:900px;
}

/*-------------------------
	Logo
--------------------------*/

#drzac_logo_i_navigacija{
width:100%;
height:250px;
border:1px solid black;
background-image:url('nav.png');
}

#logo{
float:left;
position:absolute;
margin-top:65px;
margin-left:5px;
width:175px;
height:170px;
}

/*-------------------------
	Navigacija
--------------------------*/

#navigacijaa{
margin-left:150px;
margin-top:145px;
width:auto;
}

#nav {
width: auto;
height:60px;
float: left;
list-style: none;
border-top:1px solid black;
border-bottom:1px solid black;
}

#nav li {
float: left; 
}

#nav li a {
display: block;
padding: 21px 30px;
text-decoration: none;
font-weight: bold;
font-size:14px;
background-color:white;
color: black;
border-right: 1px solid black;
-webkit-transition: background-color 0.3s ease;
-moz-transition: background-color 0.3s ease;
-ms-transition: background-color 0.3s ease;
-o-transition: background-color 0.3s ease;
transition: background-color 0.3s ease;
}

#nav li a:hover {
color:white;
background-color: #9b9b9b;
}

/*-------------------------
	Navigacija Dnevnik (kod ucenika)
--------------------------*/

#navigacijaa2{
border-bottom:1px solid black;
width:auto;
height:47px;
}

#nav2 {
width: auto;
float: left;
list-style: none;
}

#nav2 li {
float: left; 
}

#nav2 li a {
display: block;
padding: 16px 31px;
text-decoration: none;
font-weight: bold;
font-size:12px;
background-color:#ededed;
color: black;
border-right: 1px solid black;
-webkit-transition: background-color 0.3s ease;
-moz-transition: background-color 0.3s ease;
-ms-transition: background-color 0.3s ease;
-o-transition: background-color 0.3s ease;
transition: background-color 0.3s ease;
}


#nav2 li a:hover {
color:white;
background-color: #9b9b9b;
}

.zadnjiunav{
width: auto;
float: left;
list-style: none;
}

.zadnjiunav li {
float: left; 
}

.zadnjiunav li a{
display: block;
padding: 16px 29px;
text-decoration: none;
font-weight: bold;
font-size:12px;
background-color:#ededed;
color: black;
-webkit-transition: background-color 0.3s ease;
-moz-transition: background-color 0.3s ease;
-ms-transition: background-color 0.3s ease;
-o-transition: background-color 0.3s ease;
transition: background-color 0.3s ease;
}

.zadnjiunav li a:hover{
color:white;
background-color: #9b9b9b;
}

/*-------------------------
	Drzac sidebara i footera
--------------------------*/

#sve{
width:100%;
height:auto;
margin-top:15px;
display:table;
padding-bottom:70px;
}

/*-------------------------
	Sidebar
--------------------------*/

#sidebar{
float:left;
width:350px;
height:560px;
border:1px solid black;
background-image: url('bgp.png');
background-repeat: repeat;
}

#license{
margin-top:50px;
margin-left:10px;
margin-right:10px;
border-top:1px solid black;
border-bottom:1px solid black;
}

#drzac_info{
width:200px;
height:auto;
float:right;
margin-top:20px;
margin-right:10px;
}

#slika{
float:right;
width:200px;
height:322px;
}

#slika img{
width:200px;
height:auto;
border:1px solid black;
max-height: 309px;
}

#informacije{
float:right;
width:200px;
height:200px;
}

#login{
display: table;
padding: 30 50;
padding-bottom: 0;
}

/*-------------------------
	Buttoni u sidebar-u
--------------------------*/

#drzac_buttona{
width:120px;
height:auto;
float:left;
margin-top:20px;
margin-left:10px;
}

#homebutton{
float: left;
height:95px;
width:120px;
background-image:url('icons/homebutton.png');
border:1px solid black;
-webkit-transition: background-image 0.3s ease-in-out;
-moz-transition: background-image 0.3s ease-in-out;
-ms-transition: background-image 0.3s ease-in-out;
-o-transition: background-image 0.3s ease-in-out;
transition: background-image 0.3s ease-in-out;
}

#homebutton:hover{
border:1.5px solid #199fdf;
background-image:url('icons/homebuttonh.png');
cursor:pointer;
}

#profil{
float: left;
height:95px;
width:120px;
margin-top:10px;
border:1px solid black;
background-image:url('icons/profil.png');
-webkit-transition: background-image 0.3s ease-in-out;
-moz-transition: background-image 0.3s ease-in-out;
-ms-transition: background-image 0.3s ease-in-out;
-o-transition: background-image 0.3s ease-in-out;
transition: background-image 0.3s ease-in-out;
}

#profil:hover{
border:1.5px solid #199fdf;
background-image:url('icons/profilh.png');
cursor:pointer;
}

#poruke{
float: left;
height:95px;
width:120px;
margin-top:10px;
background-image:url('icons/poruke.png');
border:1px solid black;
-webkit-transition: background-image 0.3s ease-in-out;
-moz-transition: background-image 0.3s ease-in-out;
-ms-transition: background-image 0.3s ease-in-out;
-o-transition: background-image 0.3s ease-in-out;
transition: background-image 0.3s ease-in-out;
}

#poruke:hover{
border:1.5px solid #199fdf;
background-image:url('icons/porukeh.png');
cursor:pointer;
}

#porukeprocitano{
float: left;
height:95px;
width:120px;
margin-top:10px;
background-image:url('icons/porukei.png');
border:1px solid black;
-webkit-transition: background-image 0.3s ease-in-out;
-moz-transition: background-image 0.3s ease-in-out;
-ms-transition: background-image 0.3s ease-in-out;
-o-transition: background-image 0.3s ease-in-out;
transition: background-image 0.3s ease-in-out;
}

#porukeprocitano:hover{
border:1.5px solid #199fdf;
background-image:url('icons/porukeih.png');
cursor:pointer;
}

#postavke{
float: left;
height:95px;
width:120px;
margin-top:10px;
border:1px solid black;
background-image:url('icons/postavke.png');
-webkit-transition: background-image 0.3s ease-in-out;
-moz-transition: background-image 0.3s ease-in-out;
-ms-transition: background-image 0.3s ease-in-out;
-o-transition: background-image 0.3s ease-in-out;
transition: background-image 0.3s ease-in-out;
}

#postavke:hover{
border:1.5px solid #199fdf;
background-image:url('icons/postavkeh.png');
cursor:pointer;
}

#odjava{
float: left;
height:95px;
width:120px;
margin-top:10px;
border:1px solid black;
background-image:url('icons/odjava.png');
-webkit-transition: background-image 0.3s ease-in-out;
-moz-transition: background-image 0.3s ease-in-out;
-ms-transition: background-image 0.3s ease-in-out;
-o-transition: background-image 0.3s ease-in-out;
transition: background-image 0.3s ease-in-out;
}

#odjava:hover{
background-image:url('icons/odjavah.png');
cursor:pointer;
}

/*-------------------------
	Content (Sadrzaj stranice)
--------------------------*/

#content{
float:right;
width:635px;
min-height:530px;
border:1px solid black;
background-image: url('bgp.png');
background-repeat: repeat;
padding-bottom: 30px;
}

#content_margine{
margin: 10px 10px 10px 10px;
width:auto;
height:auto:
}

/*-------------------------
	Admin ikone
--------------------------*/

#drzac_aikona{
width:auto;
height:auto;
}

#profesori{
background-image: url('apikone/profesori.png');
margin-left:8px;
float:left;
width:140px;
height:140px;
-webkit-transition: background-image 0.3s ease-in-out;
-moz-transition: background-image 0.3s ease-in-out;
-ms-transition: background-image 0.3s ease-in-out;
-o-transition: background-image 0.3s ease-in-out;
transition: background-image 0.3s ease-in-out;
}

#profesori:hover{
background-image: url('apikone/profesorih.png');
}

#ucenici{
background-image: url('apikone/ucenici.png');
margin-left:10px;
float:left;
width:140px;
height:140px;
-webkit-transition: background-image 0.3s ease-in-out;
-moz-transition: background-image 0.3s ease-in-out;
-ms-transition: background-image 0.3s ease-in-out;
-o-transition: background-image 0.3s ease-in-out;
transition: background-image 0.3s ease-in-out;
}

#ucenici:hover{
background-image: url('apikone/ucenicih.png');
}

#dnevnici{
background-image: url('apikone/dnevnici.png');
margin-left:10px;
float:left;
width:140px;
height:140px;
-webkit-transition: background-image 0.3s ease-in-out;
-moz-transition: background-image 0.3s ease-in-out;
-ms-transition: background-image 0.3s ease-in-out;
-o-transition: background-image 0.3s ease-in-out;
transition: background-image 0.3s ease-in-out;
}

#dnevnici:hover{
background-image: url('apikone/dnevnicih.png');
}

#ocjene{
background-image: url('apikone/ocjene.png');
margin-left:10px;
float:left;
width:140px;
height:140px;
-webkit-transition: background-image 0.3s ease-in-out;
-moz-transition: background-image 0.3s ease-in-out;
-ms-transition: background-image 0.3s ease-in-out;
-o-transition: background-image 0.3s ease-in-out;
transition: background-image 0.3s ease-in-out;
}

#ocjene:hover{
background-image: url('apikone/ocjeneh.png');
}

#obavijesti{
background-image: url('apikone/obavijesti.png');
margin-left:8px;
margin-top:20px;
float:left;
width:140px;
height:140px;
-webkit-transition: background-image 0.3s ease-in-out;
-moz-transition: background-image 0.3s ease-in-out;
-ms-transition: background-image 0.3s ease-in-out;
-o-transition: background-image 0.3s ease-in-out;
transition: background-image 0.3s ease-in-out;
}

#obavijesti:hover{
background-image: url('apikone/obavijestih.png');
}

#statistika{
background-image: url('apikone/statistika.png');
margin-top:20px;
margin-left:10px;
float:left;
width:140px;
height:140px;
-webkit-transition: background-image 0.3s ease-in-out;
-moz-transition: background-image 0.3s ease-in-out;
-ms-transition: background-image 0.3s ease-in-out;
-o-transition: background-image 0.3s ease-in-out;
transition: background-image 0.3s ease-in-out;
}

#statistika:hover{
background-image: url('apikone/statistikah.png');
}

#vladanje{
background-image: url('apikone/vladanja.png');
margin-top:20px;
margin-left:10px;
float:left;
width:140px;
height:140px;
-webkit-transition: background-image 0.3s ease-in-out;
-moz-transition: background-image 0.3s ease-in-out;
-ms-transition: background-image 0.3s ease-in-out;
-o-transition: background-image 0.3s ease-in-out;
transition: background-image 0.3s ease-in-out;
}

#vladanje:hover{
background-image: url('apikone/vladanjah.png');
}

#prazan{
margin-top:20px;
margin-left:10px;
float:left;
width:140px;
height:140px;
border:1px solid black;
}

#dodajprof{
background-image: url('apikone/dodajprof.png');
margin-left:8px;
margin-top:20px;
float:left;
width:140px;
height:140px;
-webkit-transition: background-image 0.3s ease-in-out;
-moz-transition: background-image 0.3s ease-in-out;
-ms-transition: background-image 0.3s ease-in-out;
-o-transition: background-image 0.3s ease-in-out;
transition: background-image 0.3s ease-in-out;
}

#dodajprof:hover{
background-image: url('apikone/dodajprofh.png');
}

#dodajucenika{
background-image: url('apikone/dodajucenika.png');
margin-top:20px;
margin-left:10px;
float:left;
width:140px;
height:140px;
-webkit-transition: background-image 0.3s ease-in-out;
-moz-transition: background-image 0.3s ease-in-out;
-ms-transition: background-image 0.3s ease-in-out;
-o-transition: background-image 0.3s ease-in-out;
transition: background-image 0.3s ease-in-out;
}

#dodajucenika:hover{
background-image: url('apikone/dodajucenikah.png');
}

#dodajrazred{
background-image: url('apikone/dodajrazred.png');
margin-top:20px;
margin-left:10px;
float:left;
width:140px;
height:140px;
-webkit-transition: background-image 0.3s ease-in-out;
-moz-transition: background-image 0.3s ease-in-out;
-ms-transition: background-image 0.3s ease-in-out;
-o-transition: background-image 0.3s ease-in-out;
transition: background-image 0.3s ease-in-out;
}

#dodajrazred:hover{
background-image: url('apikone/dodajrazredh.png');
}

#postavkea{
background-image: url('apikone/postavke.png');
margin-top:20px;
margin-left:10px;
float:left;
width:140px;
height:140px;
-webkit-transition: background-image 0.3s ease-in-out;
-moz-transition: background-image 0.3s ease-in-out;
-ms-transition: background-image 0.3s ease-in-out;
-o-transition: background-image 0.3s ease-in-out;
transition: background-image 0.3s ease-in-out;
}

#postavkea:hover{
background-image: url('apikone/postavkeh.png');
}

/*-------------------------
	Razrednik ikone
--------------------------*/
#drzac_rikona{
margin-left:13%;
margin-right:auto;
width:auto;
height:auto;
}

#robavijesti{
background-image: url('apikone/obavijesti.png');
margin-top:20px;
float:left;
width:140px;
height:140px;
-webkit-transition: background-image 0.3s ease-in-out;
-moz-transition: background-image 0.3s ease-in-out;
-ms-transition: background-image 0.3s ease-in-out;
-o-transition: background-image 0.3s ease-in-out;
transition: background-image 0.3s ease-in-out;
}

#robavijesti:hover{
background-image: url('apikone/obavijestih.png');
}

#rvladanje{
background-image: url('apikone/vladanja.png');
margin-top:20px;
margin-left:10px;
float:left;
width:140px;
height:140px;
-webkit-transition: background-image 0.3s ease-in-out;
-moz-transition: background-image 0.3s ease-in-out;
-ms-transition: background-image 0.3s ease-in-out;
-o-transition: background-image 0.3s ease-in-out;
transition: background-image 0.3s ease-in-out;
}

#rvladanje:hover{
background-image: url('apikone/vladanjah.png');
}

#rdnevnici{
background-image: url('apikone/dnevnici.png');
margin-left:10px;
margin-top:20px;
float:left;
width:140px;
height:140px;
-webkit-transition: background-image 0.3s ease-in-out;
-moz-transition: background-image 0.3s ease-in-out;
-ms-transition: background-image 0.3s ease-in-out;
-o-transition: background-image 0.3s ease-in-out;
transition: background-image 0.3s ease-in-out;
}

#rdnevnici:hover{
background-image: url('apikone/dnevnicih.png');
}

/*----------------------------
	Footer
-----------------------------*/

footer{
	background-color: #111111;
	bottom: 0;
	box-shadow: 0 -1px 2px rgba(0,0,0,0.4);
	height: 45px;
	left: 0;
	position: fixed;
	width: 100%;
	z-index: 100000;
}

footer h2{
	color: #EEEEEE;
	font-size: 14px;
	font-weight: normal;
	left: 50%;
	margin-left: -400px;
	padding: 13px 0 0;
	position: absolute;
	width: 540px;
}

footer h2 i{
	font-style:normal;
	color:#888;
}

footer a.link,a.link:visited{
	color: #999999;
	font-size: 12px;
	left: 50%;
	margin: 16px 0 0 110px;
	position: absolute;
	text-decoration: none;
	top: 0;
}

footer a i{
	color:#ccc;
	font-style: normal;
}

footer a i b{
	color:#c92020;
	font-weight: normal;
}

/*-------------------------
	Sivi button
--------------------------*/

.button {
	background-color:#c9c9c9;
	-webkit-border-top-left-radius:0px;
	-moz-border-radius-topleft:0px;
	border-top-left-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-radius-topright:0px;
	border-top-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-radius-bottomright:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
	text-indent:0;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#454545;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:35px;
	line-height:35px;
	min-width:100px;
	width:auto;
	padding-left:20px;
	padding-right:20px;
	text-decoration:none;
	text-align:center;
}.button:hover {
	background-color:#dfdfdf;
}.button:active {
	position:relative;
	top:1px;
}
.button2 {
	background-color:#c9c9c9;
	-webkit-border-top-left-radius:0px;
	-moz-border-radius-topleft:0px;
	border-top-left-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-radius-topright:0px;
	border-top-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-radius-bottomright:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
	text-indent:0;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#454545;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:35px;
	line-height:35px;
	min-width:100px;
	width:auto;
	padding-left:20px;
	padding-right:20px;
	text-decoration:none;
	text-align:center;
}.button2:hover {
	background-color:#dfdfdf;
}.button2:active {
	position:relative;
	top:1px;
}

.backbutton{
	float:right;
	background-color:#c9c9c9;
	border-left:1px solid black;
	border-bottom:1px solid black;
	color:#454545;
	font-family:Arial;
	font-size:17px;
	font-weight:bold;
	font-style:normal;
	width:80px;
	height:35px;
	text-align:center;
}

.backbutton:hover {
	cursor:pointer;
	background-color:#dfdfdf;
}

input{
background: none;
border: 1px solid;
text-align: center;
height: 20px;
}

/*-------------------------
	Razne tabele
--------------------------*/

#razredi{
width:400px;
height:150px;
font-size: 30pt;
text-align:center
}

#razredi label{
width:100%;
height:100%;
display:table;
cursor:pointer;
}

#razredi :checked + label{
background-color:#656565;
color:#ffffff;
}

.tabela {
border-collapse:collapse;
border-spacing:0;
border-color:#ccc;
width:600px;
}

.tabela td{
font-family:Arial, sans-serif;
font-size:14px;
padding:10px 5px;
border-style:solid;
border-width:1px;
overflow:hidden;
word-break:normal;
border-color:#ccc;
color:#333;
text-align:center;
background-color:#fff;
}

.tabela th{
font-family:Arial, sans-serif;
font-size:14px;
padding:10px 5px;
border-style:solid;
border-width:1px;
overflow:hidden;
word-break:normal;
border-color:#ccc;
font-weight:bold;
background-color:#656565;
color:#ffffff;
text-align:center;
}

.tabela .crveno{
background-color:#ffeae9;
color:#000000;
text-align:center;
font-weight:bold;
}

.tabela tr:hover:not(#prvi_red) td{
background-color:#ccc;
}

#prvi_red td{
font-family:Arial, sans-serif;
font-size:14px;
padding:10px 5px;
border-style:solid;
border-width:1px;
overflow:hidden;
word-break:normal;
border-color:#ccc;
font-weight:bold;
background-color:#656565;
color:#ffffff;
text-align:center;
}

#prva_cell{
font-family:Arial, sans-serif;
font-size:14px;
padding:10px 5px;
border-style:solid;
border-width:1px;
overflow:hidden;
word-break:normal;
border-color:#ccc;
font-weight:bold;
background-color:#656565;
color:#ffffff;
text-align:center;
}

.tabela label{
display: table;
height: 100%;
width: 100%;
cursor:pointer;
}

#uctbl{
height: 100%;
width: 100%;
border-collapse:collapse;
border-spacing:0;
}

#uctbl td{
padding:5px 10px;
font-family:Arial, sans-serif;
text-align:left;
font-size:14px;
border-bottom:solid;
border-width:1px;
border-color:#ccc;
font-weight:bold;
overflow:hidden;
word-break:normal;
}

.jeea{
font-style:italic;
color:#304f74;
text-align:right
}

#space{
height:15px;
}

.regg label{
display: table;
height: 100%;
width: 100%;
text-align:center;
cursor:pointer;
}

.regg :checked + label{
background-color:#656565;
color:#ffffff;
}

/*-------------------------
	Spama svakakvog, Bože
--------------------------*/

#predmet{
padding:20px;
font-size: 16pt;
}

.prosjek{
background-color: #656565;
color: white;
width: 250px;
border-radius: 50;
}

/*-------------------------
	Scrollbarovi
--------------------------*/

.ScrollbarPoruke
{
	height: 300px;
	width: 617px;
	margin-top:20px;
	overflow-y: scroll;
}

.ScrollbarProfesoriAP
{
	height: 450px;
	width: 617px;
	margin-top:25px;
	overflow-y: scroll;
}

.ScrollbarUceniciAP
{
	height: 460px;
	width: 617px;
	margin-top:25px;
	overflow-y: scroll;
}

.ScrollbarUneseneOcjeneAP
{
	height: 460px;
	width: 617px;
	margin-top:25px;
	overflow-y: scroll;
}

.ScrollbarObavijestiAP
{
	height: 270px;
	width: 617px;
	margin-top:25px;
	overflow-y: scroll;
}

.ScrollbarUceniciDnevnik
{
	height: 460px;
	width: 617px;
	margin-top:25px;
	overflow-y: scroll;
}

.StatistikaProfiAP
{
	height: 460px;
	width: 617px;
	margin-top:25px;
	overflow-y: scroll;
}

.PromjeneVladanjaAP
{
	height: 460px;
	width: 617px;
	margin-top:25px;
	overflow-y: scroll;
}

.ScrollbarUceniciPretraga
{
	height: 460px;
	width: 617px;
	margin-top:25px;
	overflow-y: scroll;
}

#Stil1::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

#Stil1::-webkit-scrollbar
{
	width: 12px;
	background-color: #ccc;
}

#Stil1::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}

#ocjeneucenici{
display:none;
width:auto;
height:auto;
}

#obavijestiraz{
display:none;
width:auto;
height:auto;
}

#obavijestidir{
display:none;
width:auto;
height:auto;
}

#vladanjaucenik{
display:none;
width:auto;
height:auto;
}


/*-------------------------
	Profil
--------------------------*/

#drzac_profila{
margin: 10px 5px 5px 5px;
width:auto;
height:auto;
}

#slika_ucenik{
float:left;
width:230px;
height:230px;
}
#slika_ucenik img{
height:230px;
border:1px solid;
border-radius:5px;
}

#naslov{
width:100%;
height:auto;
background-color:#ededed;
color:black;
border:1px solid black;
border-radius:5px;
font-style:italic;
text-align:center;
}

.naslovmargina{
margin-top:10px;
}

#info_ucenik{
width:390px;
min-height:230px;
height:auto;
float:right;
}

#napomena_ucenik{
margin-top:5px;
width:392px;
float:right;
}

#unesinapomenu{
position:relative;
float:right;
width:120px;
height:35px;
bottom:-295px;
}

#ocjene_ucenik{
margin-top:5px;
width:228px;
float:left;
}

#drzacbuttona{
float:left;
width:195px;
height:30px;
padding-left:15px;
}

#unesi_ocjenu{
position:relative;
float:left;
width:120px;
height:35px;
border-top:1px solid black;
border-right:1px solid black;
bottom:-295px;
}

#zakljuci_ocjenu{
position:relative;
float:right;
width:120px;
height:35px;
border-top:1px solid black;
border-left:1px solid black;
bottom:-295px;
}

#ucenik_tabela{
width:90%;
}

#zklj_oc{
float:right;
height:auto;
margin-right:25px;
}

#unesi_oc{
float:left;
width:100px;
height:auto;
margin-left:15px;
}

#suma{
font-weight:bold;
}

#space{
height:15px;
}


/*-------------------------
	Button Unesi Zakljuci
--------------------------*/

.unosnaprofilu {
	background-color:#c9c9c9;
	-webkit-border-top-left-radius:0px;
	-moz-border-radius-topleft:0px;
	border-top-left-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-radius-topright:0px;
	border-top-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-radius-bottomright:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
	text-indent:0;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#454545;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:35px;
	line-height:35px;
	width:auto;
	padding-left:20px;
	padding-right:20px;
	text-decoration:none;
	text-align:center;
}.unosnaprofilu:hover {
	background-color:#dfdfdf;
}.unosnaprofilu:active {
	position:relative;
	top:1px;
}